.frontview{
    background-color: white;
    height: 100vh;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
h1{
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #2A2A2A;
    transform: translateY(100%);
    animation: revealText 1s ease-out forwards;
}
@keyframes revealText {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.frontview>img{
    height: 450px;
    width: 350px;
    border-radius: 20px;
    transform: translateY(100%);
    animation: revealText 1s ease-out forwards;
}
@keyframes revealText {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.about{
    height: 100vh;
    margin: 0px;
   background-color:  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
   
}
.about>img{
    height: 140px;
    width: 140px;
    border: none;
     border-radius: 100%; 
}
.about>h2{
    color: #66bfbf;
     font-family: cursive;
     font-size:40px;
}
.about>p{
    width: 50%;
    height: 50%;
    color: #333333;
    font-family: 'Courier New', Courier, monospace;
}
.describe{
    height: 70vh;
    margin-top: 0px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill>h2{
    color: #66bfbf;
    font-family: cursive;
    font-size:40px;
}
.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experience>h2{
    color: #66bfbf;
    font-family: cursive;
    font-size:40px;
}
.project{
    width: 30%;
}
.project>h2{
    color: #66bfbf;
    font-family: cursive;
    font-size:40px;
}
.project a{
    text-decoration: none;
}
.contact{
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact>h2{
    color: #66bfbf;
    font-family: cursive;
    font-size:40px;
}
.button{
    height: 140px;
    width: 300px;
    background-color:#008080;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button>p{
    color: #FAD7A0;
}
.links{
    display: flex;
    gap: 40px;
}
.scroll-container{

display: flex;
   align-items: center;
   gap: 20px;
}
